* {
	font-family: "Roboto", sans-serif;
}

section h4 {
	background-color: var(--surface-300);
	padding-left: 0.5rem;
	padding-top: 0.5rem;
}

.button-group {
}

.button-group button {
	background-color: white;
	border: 1px solid #1f2937;
	color: #1f2937;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-size: 0.875rem;
	font-weight: 500;
	margin: 0;
	outline-color: transparent;
	padding: 0.5rem 0.8rem;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
	user-select: none;
}

.button-group button:hover {
	background: #f5f5f5;
}

.button-group button:active,
.button-group button.active {
	background: #1f2937;
	color: white;
}

.button-group button:first-child {
	border-radius: 6px 0 0 6px;
	border-right: none;
	margin-right: -2px;
}
.button-group button:last-child {
	border-radius: 0 6px 6px 0;
	border-left: none;
	margin-left: -2px;
}

/*=============*/

.downloadButton {
	background: #1f2937;
	color: white;
	font-size: 1rem;
	border-radius: 6px;
	padding: 0 0.6rem;
}
.downloadButton i {
	font-size: 1.4rem;
	position: relative;
	top: 0.2rem;
}
